*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    /* background-color: bisque; */
}
#heart{
    font-size: 1.5rem;
}
.share_btn{
    cursor: pointer;
    
    
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}